<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
      <title>Tuppel</title>
        {{ partial "head/metadata.html" . }}
        {{ if .Site.Params.plausible }}{{ partial "head/plausible.html" . }}{{ end }}
        {{ partial "head/openGraph.html" . }}
        {{ partial "head/favicons.html" . }}
        {{ partial "head/css.html" . }}
        {{ partial "css/owlCarousel.html" . }}
    </head>

    <body>
        {{ with .Site.GetPage "/home" }}
        <section id="top" class="hero is-{{ .Site.Params.home.introHeight | default "fullheight" }}">
            <!-- Hero head section to play nice with Bulma -->
            <div class="hero-head"></div>

            <!-- Super sweet Hero body title -->
            <div class="hero-body">
                <div class="container has-text-centered">
                    <!-- Title and tagline -->
                    <h1 class="bold-title {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in one{{ end }}">

                      <svg width="330" height="110" version="1.1" viewBox="0 0 87.313 29.104" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none">
                          <path transform="scale(-1)" d="m-15.343-6.5934a7.1438 7.1438 0 0 1-5.2948-6.9003 7.1438 7.1438 0 0 1 5.2948-6.9003" stroke-miterlimit="100" stroke-width="3.175" id="logo-orange"/>
                          <g stroke-miterlimit="100">
                            <path transform="scale(-1)" d="m-12.391-19.747a6.35 6.35 0 0 1 5.2473 6.2535 6.35 6.35 0 0 1-5.2473 6.2535" stroke-width="1.5875" id="logo-stroke"/>
                            <path transform="scale(-1)" d="m-11.426-25.219a11.906 11.906 0 0 1 9.8388 11.725 11.906 11.906 0 0 1-9.8388 11.725" stroke-width="3.175" id="logo-stroke"/>
                            <path transform="scale(-1)" d="m-16.37-2.7599a11.112 11.112 0 0 1-8.2364-10.734 11.112 11.112 0 0 1 8.2364-10.734" stroke-width="1.5875" id="logo-stroke"/>
                          </g>
                          <path d="m4.7672 13.508 4.7579-0.0286z" stroke-linecap="round" stroke-width="1.5589" id="logo-stroke"/>
                        </g>
                        <g transform="matrix(.26458 0 0 .26458 4.426 3.1326)" style="shape-inside:url(#rect3756);white-space:pre" aria-label="tuppel">
                          <path d="m109.95 64.099q-5.3973 0-8.3413-2.76-2.944-2.8213-2.944-8.28v-29.379h7.6667v29.195q0 2.3307 1.1653 3.6187 1.2267 1.288 3.3733 1.288 2.576 0 4.2933-1.3493l2.1467 5.4587q-1.3493 1.104-3.312 1.656-1.9627 0.552-4.048 0.552zm-16.683-26.803v-6.1333h21.835v6.1333z" id="C"/>
                          <path d="m137.49 64.099q-4.1707 0-7.36-1.5333-3.1893-1.5947-4.968-4.784-1.7787-3.2507-1.7787-8.1573v-18.707h7.6667v17.664q0 4.416 1.9627 6.624 2.024 2.1467 5.704 2.1467 2.6987 0 4.6613-1.104 2.024-1.104 3.128-3.312 1.1653-2.208 1.1653-5.4587v-16.56h7.6666v32.752h-7.2986v-8.832l1.288 2.6987q-1.656 3.1893-4.8453 4.9067-3.1893 1.656-6.992 1.656z" id="C"/>
                          <path d="m183.55 64.099q-3.9867 0-7.2987-1.84-3.2507-1.84-5.2133-5.52-1.9013-3.7413-1.9013-9.4453 0-5.7653 1.84-9.4453 1.9013-3.68 5.152-5.4587 3.2506-1.84 7.4213-1.84 4.8453 0 8.5253 2.0853 3.7413 2.0853 5.888 5.8267 2.208 3.7413 2.208 8.832t-2.208 8.8933q-2.1467 3.7413-5.888 5.8267-3.68 2.0853-8.5253 2.0853zm-18.155 11.469v-44.651h7.2986v7.728l-0.24533 8.7093 0.61333 8.7093v19.504zm17.296-18.032q2.76 0 4.9067-1.2267 2.208-1.2267 3.496-3.5573 1.288-2.3307 1.288-5.4587 0-3.1893-1.288-5.4587-1.288-2.3307-3.496-3.5573-2.1467-1.2267-4.9067-1.2267t-4.968 1.2267-3.496 3.5573q-1.288 2.2693-1.288 5.4587 0 3.128 1.288 5.4587 1.288 2.3307 3.496 3.5573t4.968 1.2267z" id="C"/>
                          <path d="m225.63 64.099q-3.9867 0-7.2987-1.84-3.2507-1.84-5.2133-5.52-1.9013-3.7413-1.9013-9.4453 0-5.7653 1.84-9.4453 1.9013-3.68 5.152-5.4587 3.2507-1.84 7.4213-1.84 4.8453 0 8.5253 2.0853 3.7413 2.0853 5.888 5.8267 2.208 3.7413 2.208 8.832t-2.208 8.8933q-2.1467 3.7413-5.888 5.8267-3.68 2.0853-8.5253 2.0853zm-18.155 11.469v-44.651h7.2987v7.728l-0.24534 8.7093 0.61333 8.7093v19.504zm17.296-18.032q2.76 0 4.9067-1.2267 2.208-1.2267 3.496-3.5573 1.288-2.3307 1.288-5.4587 0-3.1893-1.288-5.4587-1.288-2.3307-3.496-3.5573-2.1467-1.2267-4.9067-1.2267-2.76 0-4.968 1.2267-2.208 1.2267-3.496 3.5573-1.288 2.2693-1.288 5.4587 0 3.128 1.288 5.4587 1.288 2.3307 3.496 3.5573 2.208 1.2267 4.968 1.2267z" id="C"/>
                          <path d="m264.94 64.099q-5.4587 0-9.568-2.1467-4.048-2.208-6.3173-6.0107-2.208-3.8027-2.208-8.648 0-4.9067 2.1467-8.648 2.208-3.8027 6.0106-5.9493 3.864-2.1467 8.7707-2.1467 4.784 0 8.5253 2.0853 3.7413 2.0853 5.888 5.888 2.1467 3.8027 2.1467 8.9547 0 0.49067-0.0613 1.104 0 0.61333-0.0613 1.1653h-27.293v-5.0907h23.245l-3.0053 1.5947q0.0613-2.8213-1.1653-4.968-1.2267-2.1467-3.3733-3.3733-2.0853-1.2267-4.8453-1.2267-2.8213 0-4.968 1.2267-2.0853 1.2267-3.312 3.4347-1.1653 2.1467-1.1653 5.0907v1.2267q0 2.944 1.3493 5.2133 1.3493 2.2693 3.8027 3.496 2.4533 1.2267 5.6427 1.2267 2.76 0 4.968-0.85867 2.208-0.85867 3.9253-2.6987l4.1093 4.7227q-2.208 2.576-5.5813 3.9867-3.312 1.3493-7.6053 1.3493z" id="C"/>
                          <path d="m287.7 63.67v-45.509h7.6666v45.509z" id="C"/>
                        </g>
                      </svg>

                    </h1>
                    <div class="subtitle is-3 {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in two{{ end }}">
                      <div align="justify">
                        <small>
                          <small>
                            {{ .Content }}
                          </small>
                        </small>
                      </div>
                    </div>
                    <!-- End title and tagline -->
                    <!-- Some social icons -->
                    <div class="{{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }}">
                        {{ partial "home/social.html" . }}
                    </div>
                    <!-- End top social icons -->
                </div>
            </div> <!-- End of Hero body -->
            {{ end }}

            <div class="hero-foot {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }}">
                <!-- Tell them all about it! -->
                {{ partial "nav.html" . }}
            </div>
        </section> <!-- Done with Hero -->

        {{ with .Site.GetPage "/home" }}
        {{ $home := . }}
        {{ $pages := .Resources.ByType "page" }}

        {{ with .Site.GetPage "/blog" }}
            {{ $pages = $pages | append . }}
        {{ end }}

        {{ with .Site.GetPage "/projects" }}
            {{ $pages = $pages | append . }}
        {{ end }}

        {{ range sort $pages "Params.weight" }}
        {{ if ne .Name "contact.md" }}
        {{ if .File }}
        {{ if eq (os.Stat .File.Dir).Name "projects" }}
            <!-- Now for some cool projects -->
            {{ partial "home/projects.html" . }}
        {{ else if eq (os.Stat .File.Dir).Name "blog" }}
            <!-- Let`s show some blog posts -->
            {{ partial "home/blog.html" . }}
        {{ else }}

        <!-- Range through all sections in /home execept contact.md -->
        <div class="section" id="{{ .File.TranslationBaseName }}">
            <div class="container">
                <h2 class="title is-2 has-text-centered">{{ .Title | markdownify }}</h2>
                {{ if .Params.Image }}
                <div class="columns">
                    <div class="column is-one-third has-text-centered">
                        {{ with $home.Resources.GetMatch .Params.Image }}
                        {{ with .Resize "320x" }}
                        <img class="img-responsive avatar" src="{{ .Permalink }}" alt="{{ .Name }}">
                        {{ end }}
                        {{ end }}
                    </div>
                    <div class="markdown column">
                        {{ .Content }}
                    </div>
                </div>
                {{ else }}
                <div class="markdown has-text-centered">
                    {{ .Content }}
                </div>
                {{ end }}
            </div>
            <!-- End About container-->
            {{ partial "top-icon.html" . }}
        </div>
        <div class="container">
            <hr>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        <!-- Let`s chat, shall we? -->
        {{ with .Resources.GetMatch "contact.md" }}
        <div class="section" id="{{ .File.TranslationBaseName }}">
            <div class="container has-text-centered">
                <h2 class="title is-2">{{ .Title | markdownify }}</h2>
                <div class="markdown">
                    {{ .Content }}
                </div>
                {{ if .Site.Params.home.localTime }}
                <p>{{ i18n "index_currentTime" . }} <span id="time"></span>.</p>
                {{ end }}
                {{ with .Site.Params.email }}
                <h3 class="subtitle is-3 has-text-centered top-pad">
                    <a href="mailto:{{ . }}">{{ . }}</a>
                </h3>
                {{ end }}
                {{ partial "home/social.html" . }}
            </div>
            <!-- End Contact container -->
            {{ partial "top-icon.html" . }}
        </div>
        <div class="container">
            <hr>
        </div>
        {{ end }}
        <!-- End Contact section -->
        {{ end }}

        {{ partial "footer/text.html" . }}

        <!-- End of fade in three section -->
        {{ partial "footer/scripts.html" . }}
        {{ partial "js/owlCarousel.html" . }}

        {{ if .Site.Params.home.localTime }}
        <script>
            function update_localtime() {
                const time = new Date().toLocaleTimeString('{{ .Site.Params.home.timeFormat }}', { timeZone: '{{ .Site.Params.home.timeZone }}', timeStyle: 'short' });
                document.getElementById('time').innerHTML = time;
            }
            update_localtime();
            // Updating every second to prevent seconds looking like stood still when timeStyle is ignored.
            setInterval(update_localtime, 1000);
        </script>
        {{ end }}
    </body>

</html>
